:root {
  --color-brand--1: #e91e63;
  --color-brand--2: #43768a;

  --color-light--1: #fff;
  --color-light--2: #f3f3f3;
  --color-light--3: #e5e5e5;
  --color-light--4: #ddd;
  --color-dark--1: #000000;
  --color-dark--2: #363636;
  --color-dark--3: #959595;
  --color-dark--4: #f0f0f0;
  --color-dark--5: #636363;

  --color-hover--1: #888;
  --color-hover--2: #fdfbfb;
  --color-hover--3: #cddbe6;
  --color-hover--4: #fafafa;

  --color-blue--1: #3b5998;
  --color-blue--2: #38a1f3;
  --color-green--1: #899b37;
  --color-red--1: #cd486b;
  --color-yellow--1: #ffc107;

  --color-text--1: #ff3b3d;
  --color-text--2: #4c4c4c;
  --color-text--3: #5c5c5c;
  --color-text--4: #808080;
  --color-text--5: #333333;

  --color-linear--1: linear-gradient(
    to bottom,
    #43768a 0%,
    #43768a 0%,
    #43768a 99%
  );
}

/* GLOBAL */

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  color: var(--color-text--5);
  background-color: var(--color-light--1);
  line-height: 1.6;
  font-size: 14px;
  font-weight: 400;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.3;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* HEADER */
/* MOBILE */

.header-mobile .header__icons {
  background-color: var(--color-light--2);
}

.header__icons {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.header__icons i {
  font-size: 2em;
  margin: 0 5px;
}

.header__icons i:hover {
  color: black;
}

.header__icons i.fa-facebook-square {
  color: var(--color-blue--1);
}

.header__icons i.fa-twitter-square {
  color: var(--color-blue--2);
}

.header__icons i.fa-instagram {
  color: var(--color-red--1);
}

.header-mobile .header__nav-wrapper {
  background-color: #43768a;
  color: var(--color-light--1);
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
}

.header-mobile .header__nav {
  width: 100%;
  z-index: 10;
}

.header-mobile .header__nav.sticky {
  position: fixed;
  top: 0;
}

.header-mobile .header__nav-wrapper a {
  color: var(--color-light--1);
}

.header-mobile .header__btn {
  border: 1px solid var(--color-light--1);
  border-radius: 4px;
  font-weight: 600;
  display: inline-block;
  height: 28px;
}

.header-mobile .header__nav-right .header__btn {
  padding: 2px 5px;
}

.header-mobile .header__nav-left .header__btn {
  padding: 1px 6px;
  line-height: 26px;
}

.header-mobile .header__btn.menu {
  cursor: pointer;
  margin-left: 10px;
}

.header-mobile .header__menu {
  background-color: var(--color-light--1);
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.header-mobile .header__menu.active {
  height: 90vh;
  overflow-y: scroll;
}

.header-mobile .header__menu.active::-webkit-scrollbar {
  display: none;
}

.header-mobile .header__menu.active {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header-mobile .header__menu .dropdown__item {
  color: var(--color-dark-1);
  font-weight: 600;
  border-bottom: 1px solid var(--color-light--3);
}

.header-mobile .header__menu .dropdown__menu {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.header-mobile .header__menu .dropdown__name {
  line-height: 22px;
}

.header-mobile .header__menu .dropdown__description.no-sub {
  color: var(--color-brand--2);
}

.header-mobile .header__menu .dropdown__action {
  position: relative;
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
}

.header-mobile .header__menu .dropdown__action p {
  position: absolute;
  top: 0;
  right: 0;
}

.header-mobile .header__menu .dropdown__action .expand,
.header-mobile .header__menu .dropdown__action .close {
  display: block;
}

.header-mobile .header__menu .dropdown__action .expand.active,
.header-mobile .header__menu .dropdown__action .close.active {
  display: none;
}

.header-mobile .header__menu .submenu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.header-mobile .header__menu .submenu.active {
  max-height: 1000px;
}

.header-mobile .header__menu .submenu__item {
  border-top: 1px solid var(--color-light--3);
  color: var(--color-dark--1);
  padding: 13px 15px;
  font-weight: 400;
}

/* DESKTOP */

.header-desktop {
  display: none;
  position: relative;
}

.header-desktop .header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 45px;
}

.header-desktop .header__icons {
  width: 25%;
}

.header-desktop .header__logo {
  position: absolute;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
}

.header-desktop .header__logo a {
  display: block;
}

.header-desktop .header__user {
  padding-left: 10px;
}

.header-desktop .header__user-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.header-desktop .account {
  cursor: context-menu;
  line-height: 45px;
  position: relative;
  font-size: 12px;
}

.header-desktop .account .account__dropdown {
  position: absolute;
  top: 100%;
  right: 50%;
  z-index: 10;

  transform: translateX(50%);
  padding: 24px 10px;
  background-color: var(--color-hover--3);
  line-height: 35px;
  box-shadow: 0 0.2rem 1rem 0.1rem rgba(105, 96, 93, 0.2);

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;
}

.header-desktop .account:hover .account__dropdown {
  visibility: visible;
  opacity: 1;
}

.header-desktop .account .account__dropdown::after {
  content: '';
  padding: 10px;
  background-color: var(--color-hover--3);
  position: absolute;
  top: -10px;
  right: 50%;
  transform: rotate(45deg) translateX(40%);
}

.header-desktop .account .account__action {
  display: block;
  width: 11rem;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.header-desktop .account .account__action.login {
  color: var(--color-light--1);
  background-color: var(--color-dark--2);
  border: 1px solid var(--color-dark--2);
  margin-bottom: 10px;
}

.header-desktop .account .account__action.register {
  background-color: var(--color-light--1);
  border: 1px solid var(--color-dark--2);
}

.header-desktop .account .account__action.login:hover {
  background-color: var(--color-light--1);
  color: var(--color-dark--2);
}

.header-desktop .account .account__action.register:hover {
  background-color: var(--color-dark--3);
  color: var(--color-light--1);
}

.header-desktop .cart {
  position: relative;
  cursor: pointer;
}

.header-desktop .cart .cart__icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  transition: all 0.2s;
}

.header-desktop .cart .cart__amount {
  display: inline-block;
  color: var(--color-light--1);
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background: var(--color-linear--1);
  transform: translateX(5px);
  font-size: 12px;
}

.header-desktop .cart:hover .cart__amount {
  background: var(--color-dark--1);
}

.header-desktop .cart:hover .cart__icon {
  background: var(--color-linear--1);
  color: var(--color-light--1);
}

.header-desktop .cart .cart__preview {
  cursor: default;
  min-width: 120px;
  width: 30rem;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  background-color: var(--color-light--1);
  padding: 24px 10px;
  line-height: 35px;
  box-shadow: 0 0.2rem 1rem 0.1rem rgba(105, 96, 93, 0.2);
  text-align: center;

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;
}

.header-desktop .cart:hover .cart__preview {
  visibility: visible;
  opacity: 1;
}

.header-desktop .search {
  position: relative;
}

.header-desktop .search__input {
  padding: 5px;
  width: 200px;
  height: 25px;
  font-size: 12px;
  background-color: var(--color-hover--3);
  border: 1x solid var(--color-light--1);
}

.header-desktop .search__icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.header-desktop .header__nav {
  background-color: var(--color-dark--4);
  width: 100%;
  border-bottom: 1px solid var(--color-light--4);
  z-index: 10;
}

.header-desktop .header__nav.sticky {
  position: fixed;
  top: 0;
}

.header-desktop .nav__list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  flex-wrap: wrap;
  letter-spacing: 1px;
  padding: 0 45px;
}

.header-desktop .nav__item {
  position: relative;
  cursor: pointer;
  padding: 6px 27px;
  margin-right: 20px;
  border-top: 2px solid var(--color-dark--4);
}

.header-desktop .nav__item:hover {
  background-color: var(--color-hover--3);
  border-top: 2px solid var(--color-brand--2);
}

.header-desktop .nav__description {
  font-weight: 700;
}

.header-desktop .nav__description.no-sub {
  color: var(--color-brand--2);
}

.header-desktop .submenu {
  position: absolute;
  top: 100%;
  left: 10px;
  width: 250px;
  background-color: var(--color-hover--3);
  z-index: 10;
  list-style: none;

  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s 0.2s;
}

.header-desktop .submenu__description {
  display: block;
  font-size: 13px;
  padding: 5px 22px 3px;
  background: url(./img/list-icon.png) no-repeat left 7px center;
}

.header-desktop .submenu__description:hover {
  color: var(--color-light--1);
}

.header-desktop .nav__item:hover .submenu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  box-shadow: 0 0.2rem 1rem 0.1rem rgba(105, 96, 93, 0.2);
}

@media only screen and (min-width: 768px) {
  .header-mobile .header__nav-wrapper {
    padding: 15px 30px;
  }
}

@media only screen and (min-width: 992px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: block;
  }

  .header-desktop .header__logo {
    width: 50%;
  }

  .header-desktop .header__logo a {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .header-desktop .nav__list {
    justify-content: center;
    padding: 5px 45px;
  }

  .header-desktop .nav__item {
    margin-right: unset;
  }

  .header-desktop .submenu__description {
    font-size: 14px;
  }
}

/* SLIDER */
.slider .slider__contact {
  text-transform: uppercase;
  padding: 6px;
  text-align: center;
  color: var(--color-text--1);
  font-weight: 600;
  border-bottom: 1px solid var(--color-light--4);
}

.slider .slider__image {
  display: block;
  width: 100%;
  height: 230px;
}

.slider .slider__content .slider__button {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: var(--color-green--1);
}

.slider .slider__content .slider__button.next {
  right: 30px;
}

.slider .slider__content .slider__button.prev {
  left: 30px;
}

.slider .slider__content .slider__button::after {
  font-size: 10px;
  font-weight: 700;
  color: var(--color-light--1);
  line-height: 35px;
}

@media only screen and (min-width: 768px) {
  .slider .slider__image {
    height: unset;
  }
}

/* TOPICS */
.topics {
  display: none;
}

.topics .topics__content {
  display: flex;
  padding: 15px 0;
}

.topics .topics_item {
  display: block;
  flex-grow: 1;
  flex-basis: 0;
  padding: 20px;
}

.topics .topic__img,
.topics .topic__description {
  display: block;
}

.topics .topic__img img {
  border-radius: 50%;
  box-shadow: 3px 3px 22px;
  margin: 10px 0;
  transition: all 0.3s;
  transform: scale(1);
}

.topics .topic__img img:hover {
  transform: scale(1.1);
}

.topics .topic__description {
  padding-top: 10px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-dark--5);
}

@media only screen and (min-width: 768px) {
  .topics {
    display: block;
  }
}

/* PRODUCTS */
.products {
  padding-top: 28px;
}

.products .product__top {
  display: block;
  cursor: pointer;
}

.products .products__title {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 18px;
  text-transform: uppercase;
}

.products .products__content {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  flex-grow: 1;
}

.products .product {
  position: relative;
  width: 50%;
  margin: 10px 0 20px;
  padding: 10px 5px 0 5px;
  border-top: 1px solid var(--color-light--4);
}

.products .product:first-child,
.products .product:nth-child(2) {
  border-top: none;
}

.products .product__discount {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 50px;
  height: 50px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  background-color: var(--color-brand--1);
  border-radius: 50%;
  color: var(--color-light--1);
}

.products .product__bot {
  text-align: center;
  text-transform: uppercase;
}

.products .product__bot:hover {
  background-color: var(--color-hover--2);
}

.products .product__name {
  display: block;
  font-size: 12px;
  font-weight: 400;
  min-height: 62px;
  margin-bottom: 10px;
  padding-top: 20px;
  color: var(--color-dark--1);
}

.products .product__rate {
  font-size: 12px;
}

.products .rate__star {
  color: var(--color-light--4);
}

.products .rate__star.active {
  color: var(--color-yellow--1);
}
.products .product__price {
  display: flex;
  flex-direction: column;
}

.products .product__normal-price,
.products .product__sale-price {
  font-weight: 700;
}

.products .product__sale-price {
  color: var(--color-brand--1);
}

.products .product__normal-price.onsale {
  font-weight: 400;
  text-decoration: line-through;
  color: var(--color-text--4);
}

.products .product__action {
  margin-top: 15px;
}

.products .product__btn {
  padding: 4px 16px;
  background-color: var(--color-brand--1);
  border: 1px solid var(--color-brand--1);
  color: var(--color-light--1);
  font-weight: 600;
}

.products .product__btn:hover {
  color: var(--color-light--1);
  background-color: var(--color-hover--1);
}

@media screen and (min-width: 576px) {
  .products .product__name {
    font-size: 16px;
  }

  .products .product__price {
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }
}

@media screen and (min-width: 768px) {
  .products .products__content {
    margin: 0 -10px;
  }

  .products .product {
    width: 25%;
    padding: 20px 10px 0;
  }

  .products .product:nth-child(3),
  .products .product:nth-child(4) {
    border-top: none;
  }

  .products .product__discount {
    top: 25px;
    right: 15px;
  }
}

/* FEARTURES */
.feartures__content .features__item {
  text-align: center;
  margin-bottom: 10px;
}

.feartures__content .fearture__top {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.feartures__content .fearture__header {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0 10px;
}

.feartures__content .fearture__description {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .feartures__content {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
  }

  .feartures__content .features__item {
    width: 33%;
    padding: 0 15px;
  }
}

/* PARTNER */
.partner .partner__header {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 20px 0 10px;
}

.partner .partner__slide.swiper-slide {
  width: 60px !important;
  padding: 50px;
}

@media screen and (min-width: 576px) {
  .partner .partner__slide.swiper-slide {
    width: 92px !important;
  }
}

@media screen and (min-width: 768px) {
  .partner .partner__slide.swiper-slide {
    width: 82px !important;
  }
}

@media screen and (min-width: 992px) {
  .partner .partner__slide.swiper-slide {
    width: 126px !important;
  }
}

@media screen and (min-width: 1200px) {
  .partner .partner__slide.swiper-slide {
    width: 132px !important;
  }
}

/* INFO */
.info {
  margin-bottom: 70px;
}

.info h1,
.info .info__top-left h2 {
  text-align: center;
}

.info .info__list {
  list-style: disc;
  padding-left: 40px;
  margin-bottom: 10px;
}

.info a:hover {
  color: var(--color-brand--2);
}

.info .info__img img {
  width: unset;
  max-width: 100%;
  margin: 0 auto;
}

.info .info__video-wraper {
  text-align: center;
}

@media screen and (min-width: 576px) {
  .info .info__video {
    width: 550px;
    height: 380px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .info .info__top,
  .info .info__bot {
    display: flex;
    gap: 30px;
  }

  .info .info__top-left,
  .info .info__top-right,
  .info .info__bot-left,
  .info .info__bot-right {
    width: 50%;
  }

  .info .info__top-right {
    padding-top: 20px;
  }

  .info .info__video {
    width: 100%;
    height: 300px;
  }
}

@media screen and (min-width: 992px) {
  .info .info__video {
    width: 550px;
    height: 380px;
  }
}

/* FOOTER */
footer {
  color: var(--color-text--4);
}

footer.container {
  padding: 0 20px;
}

.footer__content {
  margin-bottom: 70px;
}

.footer__top,
.footer__bot {
  border-top: 1px solid var(--color-light--4);
  padding-top: 20px;
}

.contact .contact__logo {
  width: 90%;
}

.contact__hotline {
  margin-bottom: 10px;
}

.contact-bot.download {
  margin-top: 5px;
}

.download__appstore,
.download__gplay {
  display: block;
}

.download__appstore {
  width: 140px;
}

.download__gplay {
  width: 160px;
}

.contact,
.customer,
.follow,
.address {
  padding-bottom: 20px;
}

footer h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  margin: 10px 0;
  text-transform: uppercase;
}

footer .menu {
  font-size: 11px;
  text-transform: uppercase;
}

footer .menu li {
  padding: 2px 0;
}

.follow__menu.menu li {
  text-transform: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.address .address__branch {
  margin-bottom: 10px;
}

.license__info {
  font-size: 12px;
}

.dmca-protected {
  display: block;
  width: 120px;
  margin: 5px 0;
}

.download__header,
.download__appstore {
  margin-bottom: 10px;
}

@media screen and (min-width: 576px) {
  .contact .contact__logo {
    width: 400px;
  }

  .download__qr {
    width: 300px;
  }

  .payment {
    width: 350px;
  }

  .bct {
    display: block;
    width: 420px;
  }
}

@media screen and (min-width: 768px) {
  .footer__top {
    display: flex;
    gap: 50px;
  }

  .contact,
  .customer,
  .follow,
  .address {
    width: 25%;
  }

  .contact .contact__logo {
    width: 90%;
  }

  .contact .download__qr {
    width: 100%;
  }

  .contact .download__app {
    padding: 0 10px;
  }

  .download__header {
    font-size: 14px;
  }

  .download__appstore,
  .download__gplay {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .contact-bot {
    display: flex;
  }

  .contact .download__qr {
    width: 65%;
  }

  .footer__bot {
    position: relative;
  }

  .footer__bot .bct {
    position: absolute;
    top: 20px;
    right: 0;
    width: 120px;
  }
}

@media screen and (min-width: 992px) {
  footer.container {
    padding: 0;
  }
}

/* CONTACT FIXED */

.contact-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: var(--color-brand--1);
}

.contact-fixed__content {
  display: flex;
  justify-content: center;
  margin: 8px 0;
  flex-basis: 0;
  flex-grow: 1;
  color: var(--color-light--1);
  font-size: 13px;
  line-height: 1.2;
  min-height: 40px;
}

.contact-fixed .contact-fixed__action {
  text-align: center;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-left: 1px solid var(--color-light--1);
}

.contact-fixed .contact-fixed__action:first-child {
  border-left: none;
}

.contact-fixed .contact-fixed__action span {
  max-height: 32px;
  overflow: hidden;
}
