:root {
  --color-brand--1: #e91e63;
  --color-brand--2: #43768a;

  --color-light--1: #fff;
  --color-light--2: #f3f3f3;
  --color-light--3: #e5e5e5;
  --color-dark--1: #000000;

  --color-hover--1: #888;
  --color-hover--2: #fdfbfb;
  --color-hover--3: #cddbe6;
  --color-hover--4: #fafafa;

  --color-blue--1: #3b5998;
  --color-blue--2: #38a1f3;
  --color-green--1: #899b37;
  --color-red--1: #cd486b;
  --color-yellow--1: #ffc107;

  --color-text--1: #ff3b3d;
  --color-text--2: #4c4c4c;
  --color-text--3: #5c5c5c;
  --color-text--4: #808080;
  --color-text--5: #333333;
}

/* GLOBAL */

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  color: var(--color-text--5);
  background-color: var(--color-light--1);
  line-height: 1.6;
  font-size: 14px;
  font-weight: 400;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
/* MOBILE */

.header-mobile .header__icons {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.header-mobile .header__icons i {
  font-size: 2em;
  margin: 0 5px;
}

.header-mobile .header__icons i:hover {
  color: black;
}

.header-mobile .header__icons i.fa-facebook-square {
  color: var(--color-blue--1);
}

.header-mobile .header__icons i.fa-twitter-square {
  color: var(--color-blue--2);
}

.header-mobile .header__icons i.fa-instagram {
  color: var(--color-red--1);
}

.header-mobile .header__nav-wrapper {
  background-color: #43768a;
  color: var(--color-light--1);
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
}

.header-mobile .header__nav {
  width: 100%;
}

.header-mobile .header__nav-wrapper a {
  color: var(--color-light--1);
}

.header-mobile .header__btn {
  border: 1px solid var(--color-light--1);
  border-radius: 4px;
  font-weight: 600;
  display: inline-block;
  height: 28px;
}

.header-mobile .header__nav-right .header__btn {
  padding: 2px 5px;
}

.header-mobile .header__nav-left .header__btn {
  padding: 1px 6px;
  line-height: 26px;
}

.header-mobile .header__btn.menu {
  margin-left: 10px;
}

.header-mobile .header__menu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.header-mobile .header__menu.active {
  max-height: 2000px;
}

.header-mobile .header__menu .dropdown__item {
  color: var(--color-dark-1);
  font-weight: 600;
  border-bottom: 1px solid var(--color-light--3);
}

.header-mobile .header__menu .dropdown__menu {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.header-mobile .header__menu .dropdown__name {
  line-height: 22px;
}

.header-mobile .header__menu .dropdown__description.no-sub {
  color: var(--color-brand--2);
}

.header-mobile .header__menu .dropdown__action {
  position: relative;
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
}

.header-mobile .header__menu .dropdown__action p {
  position: absolute;
  top: 0;
  right: 0;
}

.header-mobile .header__menu .dropdown__action .expand,
.header-mobile .header__menu .dropdown__action .close {
  display: block;
}

.header-mobile .header__menu .dropdown__action .expand.active,
.header-mobile .header__menu .dropdown__action .close.active {
  display: none;
}

.header-mobile .header__menu .submenu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.header-mobile .header__menu .submenu.active {
  max-height: 1000px;
}

.header-mobile .header__menu .submenu__item {
  border-top: 1px solid var(--color-light--3);
  color: var(--color-dark--1);
  padding: 13px 15px;
  font-weight: 400;
}

/* DESKTOP */

.header__desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-mobile .header__nav-wrapper {
    padding: 15px 30px;
  }
}

@media only screen and (min-width: 992px) {
  .header-mobile {
    display: none;
  }

  .header__desktop {
    display: block;
  }
}
